In [1]:
import nltk
import pandas as pd

In [23]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\vamsi\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [2]:
fake=pd.read_csv("fake.csv")
fake.drop(fake.iloc[:, 4:172], inplace=True, axis=1)
fake

C:\Users\vamsi\AppData\Local\Temp\ipykernel_13268\2016017784.py:1: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171) have mixed types. Specify dtype option on import or set low_memory=False.
  fake=pd.read_csv("fake.csv")

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year‚...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama‚Äôs Na...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23497,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23498,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23499,Sunnistan: US and Allied ‚ÄòSafe Zone‚Äô Plan ...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23500,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23501,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [3]:
true=pd.read_csv("true.csv")
true

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [5]:
fake['genuene']=0
true['genuene']=1
df=pd.concat([fake,true],axis=0)
df

,title,text,subject,date,genuene
0,Donald Trump Sends Out Embarrassing New Year‚...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama‚Äôs Na...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [6]:
df=df.reset_index(drop=True)
df=df.drop(['title','subject','date'],axis=1)

Data Preprocessing

In [7]:
#tokenize
from nltk.tokenize import word_tokenize
df['text']=df['text'].apply(word_tokenize)

In [8]:
#stemming
from nltk.stem import SnowballStemmer as ss 
sb=ss("english",ignore_stopwords=False)
def stem(text):
    return [sb.stem(i) for i in text]
df['text']=df['text'].apply(stem)

In [9]:
#stop words
def stop_words(text):
    return [i for i in text if len(i)>2]

In [10]:
df['text']=df['text'].apply(" ".join)
df

                                                    text  genuene
0      donald trump just couldn t wish all american a...        0
1      hous intellig committe chairman devin nune is ...        0
2      on friday , it was reveal that former milwauke...        0
3      on christma day , donald trump announc that he...        0
4      pope franci use his annual christma day messag...        0
...                                                  ...      ...
44914  brussel ( reuter ) - nato alli on tuesday welc...        1
44915  london ( reuter ) - lexisnexi , a provid of le...        1
44916  minsk ( reuter ) - in the shadow of disus sovi...        1
44917  moscow ( reuter ) - vatican secretari of state...        1
44918  jakarta ( reuter ) - indonesia will buy 11 suk...        1

[44919 rows x 2 columns]

Splitting Data

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df['text'],df['genuene'],test_size=0.25)
x_train

7386     as addict info report here , new hampshir stat...
29319    washington ( reuter ) - elain chao , a former ...
27216    washington ( reuter ) - former central intelli...
30962    brussel ( reuter ) - the european union must t...
1999     when republican celebr donald trump s undeserv...
                               ...
9029     it turn out that the individu who bought the a...
719      the trump administr , along with congress memb...
8373     sarah palin is back at it again . onli this ti...
10613    nanci pelosi attempt to offer her ( incoher ) ...
35751    bueno air ( reuter ) - argentina s lower hous ...
Name: text, Length: 33689, dtype: object

Vectorization

In [12]:
#vectorization

from sklearn.feature_extraction.text import TfidfVectorizer
tfdf=TfidfVectorizer(max_df=0.7)

tfdf_train=tfdf.fit_transform(x_train)
tfdf_test=tfdf.transform(x_test)

ML Model

In [13]:
# ML moedel

from sklearn.linear_model import LogisticRegression
m1=LogisticRegression(max_iter=900)
m1.fit(tfdf_train,y_train)

predict1=m1.predict(tfdf_test)

In [16]:
from sklearn.metrics import accuracy_score
scr1=accuracy_score(y_test,predict1)
scr1

0.9934105075690116

In [17]:
from sklearn.linear_model import PassiveAggressiveClassifier
m2=PassiveAggressiveClassifier(max_iter=100)
m2.fit(tfdf_train,y_train)

pred2=m2.predict(tfdf_test)
scr2=accuracy_score(y_test,pred2)
scr2

0.9973285841495992